<div class="wrapper">
  <main class="container">
    <div class="contents"><!-- ここまで定型 -->
      <div class="contents">
        <div class="cttHead">
          <h2>ヘルプ Q&A</h2>
        </div>
        <ol>
          <h4>
            <li>OSAGARYとは何ですか？</li>
          </h4>
          <ul>
            <p>教科書・参考書を売りたい人・買いたい人をマッチングするサービスです。</p>
            <p>買いたい人は、売り出し中の教科書・参考書の中から欲しいものを選択します。</p>
            <p>「取引を開始する」ボタンを押すと、出品者とのチャットが開始されます。</p>
            <p>教科書・参考書と現金を交換するための場所と日時を、チャットにて相談しながら決定してください。</p>
          </ul>
          <h4>
            <li>edu.kit.ac.jp以外では使えないんですか？</li>
          </h4>
          <ul>
            <p>本サービスでは京都工芸繊維大学のメールアカウントを用いてユーザ(学生)個人を判別しているため、</p>
            <p>edu.kit.ac.jp以外のアカウントでの登録はできません。ご了承下さい。</p>
          </ul>
          <h4>
            <li>大学院生になったら新しいメールアドレスが学校側から貰えると思うのですが、メールアドレスの変更手続きはしなければなりませんか？</li>
          </h4>
          <ul>
            <p>大学院入学後も本サービスを利用される場合は、メールアドレスを変更して下さい。</p>
            <p>学部4回生終了とともに学部入学時に配布されたアカウントは学校側に停止され、利用不可能になると思われます。</p>
          </ul>
          <h4>
            <li>新しいアカウントに前のアカウントのデータを引き継ぐことはできますか？</li>
          </h4>
          <ul>
            <p>本サービスはデータの引継ぎに対応しておりません。ご了承ください。</p>
          </ul>
          <h4>
            <li>取引のキャンセルはどのようにすれば良いですか？</li>
          </h4>
          <ul>
            <p>基本的には購入者側が取引をキャンセルすることを想定しております。</p>
            <p>チャット画面で取引中止ボタンを押していただくと、その取引が中止されます。</p>
          </ul>
          <h4>
            <li>モラルが低かったりマナーが悪い利用者に困っているのですが、どう対応すれば良いですか？</li>
          </h4>
          <ul>
            <p><a href = "https://twitter.com/kigyo_bu">起業部Twitterアカウント</a>にアクセスしてください。</p>
            <p>ダイレクトメッセージ(DM)でお困りの件について対応します。</p>
          </ul>
          <h4>
            <li>登録したメールアドレス宛にメールが届かないのですが、どうすれば良いですか？</li>
          </h4>
          <ul>
            <p>稀に、サーバの通信が混雑して正常にメールの送受信ができない場合があります。</p>
            <p>その際は、再度時間を空けてメールを送信してください。</p>
            <p>それでも改善しない場合は、<a href = "https://twitter.com/kigyo_bu">起業部Twitterアカウント</a>のダイレクトメッセージにて対応いたします。</p>
          </ul>
          <h4>
            <li>チャット画面では具体的に何をすれば良いですか？</li>
          </h4>
          <ul>
            <p>取引相手と中古教科書の取引を行う日時・場所を相談し、決定してください。</p>
            <p>商品の取引をキャンセルする場合は、チャット画面上の取引中止ボタンをクリックしてください。</p>
            <p>詳しくはサービスの利用法(OSAGARYとは)をご覧ください。</p>
          </ul>
          <h4>
            <li>購入した商品の返品はできますか？</li>
          </h4>
          <ul>
            <p>本サービスでは返品を一切受け付けておりません。</p>
            <p>商品が不要になった際には、本サービスや中古ショップにて出品、または各自で処分してください。</p>
          </ul>
          <h4>
            <li>アカウントを削除したいです。</li>
          </h4>
          <ul>
            <p>一度作成されたアカウントは削除できません。</p>
            <p>ご了承ください。</p>
          </ul>
          <h4>
            <li>アカウントを乗っ取られました。</li>
          </h4>
          <ul>
            <p><a href = "https://twitter.com/kigyo_bu">起業部Twitterアカウント</a>宛に</P>
              <p>アカウントが乗っ取られたことをダイレクトメッセージ(DM)で伝えてください。</p>
              <p>また、パスワードの変更手続きを行ってください。</p>
              <p>詳しくはサービスの利用法(OSAGARYとは)をご覧ください。</p>
            </ul>
            <h4>
              <li>目当ての本がありません。</li>
            </h4>
            <ul>
              <p>本サービスでは中古教科書のみを扱っておりますので、常に在庫を充実することはできません。</p>
              <p>可能な限りご所望の教科書を揃えられるよう尽力いたしますが、</p>
              <p>お急ぎで教科書が必要になった際は、大学生協や別の中古ショップなどで購入してください。</p>
            </ul>
            <h4>
              <li>犯罪に巻き込まれました。</li>
            </h4>
            <ul>
              <p>本サービスでは犯罪に対する対応は一切いたしません。</p>
              <p>警察に相談してください。</p>
            </ul>
            <h4>
              <li>起業部って何ですか？</li>
            </h4>
            <ul>
              <p>京都工芸繊維大学に存在する非公認の部活動です。</p>
              <p>興味のある方はこちらの<a href = "https://twitter.com/kigyo_bu">起業部Twitterアカウント</a></p>
              <p>のダイレクトメッセージ(DM)にてお気軽にお問い合わせください。</p>
            </ul>
            <h4>
              <li>電子マネーは使えませんか？</li>
            </h4>
            <ul>
              <p>本サービスでは取引者同士の直接取引となっているため、基本的には現金のみの取り扱いとなっております。</p>
              <p>ご了承ください。</p>
            </ul>
            <h4>
              <li>金銭取引はどのようにすれば良いですか？</li>
            </h4>
            <ul>
              <p>取引者間で現金と商品の引き渡しを行ってください。</p>
              <p>なお、起業部は一切金銭の取引を仲介いたしません。</p>
            </ul>
            <h4>
              <li>取引して譲り受けた商品を返して欲しいと頼まれました。どうすれば良いですか？</li>
            </h4>
            <ul>
              <p>本サービスは取引成立後の取引取消には対応しておりません。ご了承ください。</p>
              <p>万一取引を取消したい場合は、当事者間で個人的にご相談願います。</p>
            </ul>
            <h4>
              <li>商品の発送はできますか？</li>
            </h4>
            <ul>
              <p>本サービスに商品の発送は含まれておりません。</p>
              <p>ご了承ください。</p>
            </ul>
            <h4>
              <li>京都工芸繊維大学の学生ではないのですが、サービスを利用できますか？</li>
            </h4>
            <ul>
              <p>本サービスのご利用には京都工芸繊維大学から付与されるメールアドレスが必要です。</p>
              <p>もしサービスをご利用の際には、京都工芸繊維大学のメールアカウントを所持する知り合いに取引を依頼してください。</p>
            </ul>
          </ol>
        </div>
      </main>
      <footer class="pageFoot">
        <div class="footer-bottom">
          <div class="kigyologo">
            <%= link_to image_tag("/assets/logo_mt_w.png", :class=>"logo_mono logo"), "/" %>
          </div>
          <div class="copyright">
            <small>&copy; <span>2019</span>京都学生起業部</small>
          </div>
        </div>
      </footer>
    </div>
