<div class="wrapper">
    <main class="container">
        <div class="contents">
            <section>
                <h1>トップ画面</h1>
                <p>新着アイテム</p>
            </section>
        </div>
    </main>
    <footer class="pageFoot">
        <div class="footer-bottom">
            <div class="kigyologo">
                <%= link_to image_tag("/assets/logo_mt_w.png", :class=>"logo_mono logo"), "/" %>
            </div>
            <div class="copyright">
                <small>&copy; <span>2019</span>京都学生起業部</small>
            </div>
        </div>
    </footer>
</div>