<div class="banner-wrapper">
    <div class="banner">
        <%= link_to("OSAGARYとは", "/about", :class=>"button button-Primary" ) %>
    </div>
</div>
<div class="wrapper">
    <main class="container">
        <div class="contents">
            <section>
                <h1>トップ画面</h1>
                <p>新着アイテム</p>
            </section>
        </div>
    </main>

</div>