<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">本を登録する</h1>
    <%= form_tag("/posts/create") do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <div class="book-images">
            本の画像
            <input name="book_image1" type="file">
            <input name="book_image2" type="file">
            <input name="book_image3" type="file">
          </div>
          <div class="book-name">
          本の名前
            <input name="book_name">
          </div>
          <div class="book-price">
            <input type="tel" name="book_price"/>
          </div>
          <div class = "book-category">
            カテゴリー
            <%= select_tag("category",options_for_select(@select_category))%>
          </div>
          <div class="book-content">
          本の内容など
            <textarea name="content"><%= @post.content %></textarea>
          </div>
          <input type="submit" value="登録">
        </div>
      </div>
    <% end %>
  </div>
</div>
