// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
    width: 100%;
    font-size: 7pt;
}
table th {
    white-space: nowrap;
    width: 100px;
}
