<p>こんにちは、<%= @resource.email %> さん！</p>

<p>パスワードの変更が要求されました。心当たりがある場合は、下記リンク先からパスワードを変更して下さい。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワードの変更要求が第三者によるものであれば、このメールを無視して下さい。</p>
<p>上記のリンク先にアクセスして新規パスワードを登録しない限り、パスワードは変更されません。</p>
