<p>こんにちは、<%= @resource.email %> さん！</p>

<p>複数の不正アクセス試行により、アカウントがロックされました。</p>

<p>ロックを解除するには、下記リンクをクリックして下さい。</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
